<div class="form_wrapper", style="width:400px">
  <div class="form_container">
    <div class="title_container">
      <h2>Nov oglas</h2>
    </div>
    <div class="row clearfix">
      <div class="">

<%= render 'form', listing: @listing %>

    </div>
  </div>
</div>
</div>